:root {
    --primary: #667B76;
    --accent: #F57921;
    --gray: #C6C7C9;
    --light: #EFC489;
    --white: #FEFEFE;
    --dark: #272F36;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 20px auto 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    background: var(--dark);
    flex: 1 0 auto;
}

.container div {
    background-color: var(--light);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2 {
    color: var(--accent);
    text-align: center;
}

.header-title {
    color: #FEFEFE;
    text-shadow: 2px 2px 4px #F57921;
}

a {
    color: var(--accent);
    text-decoration: none;
}

.navbar-btn {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    box-sizing: border-box;
}

.navbar-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 100px;
    z-index: 1;
}

.navbar-btn svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--light);
    stroke-width: 1;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.navbar-btn:hover {
    color: #F57921;
    background: var(--primary);
    transition: 1s ease-in-out;
}

.navbar-btn:hover svg {
    stroke-dashoffset: -480;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    background-image: url("corba_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    background-color: var(--light);
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea,
form input[type="email"],
form input[type="password"],
form input[type="file"] {
    width: 100%;
    border: 1px solid var(--gray);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* include padding and border in element's total width and height */
}

form button {
    background-color: var(--accent);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

form button:hover {
    background-color: var(--primary);
    transform: scale(1.05);
}

.profile-pic {
    border: 3px solid #667B76;
    border-radius: 50%;
}

.card {
    border: 1px solid #dddddd;
    padding: 15px;
    border-radius: 8px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.form-container {
    display: none;
}

.edit-profile-button {
    background-color: #667B76;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-link {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    background-color: #F57921; /* Change to desired background color */
    color: white; /* Change to desired text color */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

.button-link:hover {
    background-color: #667B76; /* Change to desired hover background color */
    color: #F57921; /* Change to desired hover text color */
}

.flash {
    padding: 20px;
    color: var(--white);
    background-color: var(--accent);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: var(--primary);
    color: var(--white);
    padding: 20px;
    width: 100%;
    text-align: center;
    height: 100px;
}