{% extends 'base.html' %}
{% block content %}
<h1 class="header-title">Edit Project</h1>
<form method="POST" action="{{ url_for('single_project', project_id=project.id) }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description }}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status }}
    </p>
    <p>
        {{ form.trail_system_id.label }}<br>
        {{ form.trail_system_id }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}