{% extends 'base.html' %}

{% block content %}
<h1 class="header-title">Welcome to CORBA's Trail Management System</h1>

<div class="cards">
    <!-- Card for Equipment -->
    <div class="card">
        <h3><a href="{{ url_for('equipment') }}">All Equipment</a></h3>
        <p>View and manage all equipment.</p>
    </div>

    <!-- Card for Projects -->
    <div class="card">
        <h3><a href="{{ url_for('projects') }}">All Projects</a></h3>
        <p>View and manage all projects.</p>
    </div>

    <!-- Card for Trail Systems -->
    <div class="card">
        <h3><a href="{{ url_for('trail_systems') }}">All Trail Systems</a></h3>
        <p>View and manage all trail systems.</p>
    </div>

    <!-- Card for User Profiles -->
    <div class="card">
        <h3><a href="{{ url_for('users') }}">User Profiles</a></h3>
        <p>View and manage user profiles.</p>
    </div>

<!-- Card for My Profile -->
{% if current_user.is_authenticated %}
    <div class="card">
        <h3><a href="{{ url_for('user_profile', user_id=current_user.id) }}">My Profile</a></h3>
        <p>View and update your profile.</p>
    </div>
{% endif %}
{% endblock %}