{% extends "base.html" %}
{% block content %}
<h1 class="header-title">New Expense Report</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.date_submitted.label }}<br>
        {{ form.date_submitted }}
    </p>
    <p>
        {{ form.amount.label }}<br>
        {{ form.amount }}
    </p>
    <p>
        {{ form.expense_details.label }}<br>
        {{ form.expense_details }}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}